@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #DAE1DE;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-color: #119f25;
}
